@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    margin: 3px;
    font-size: 16px;
    color: #000000;
    background-color: #F8FAFE;
}


/* контейнер */
.container {
    max-width: 1500px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;

}

@media (max-width: 1499px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 360px) {
    #reclama {
        display: none;
    }

    #img3 {
        display: none;
    }

    #img4 {
        display: none;
    }

    #img5 {
        display: none;
    }

    .grig {
        gap: 0px;

    }

    .comparison {
        display: none;
    }

    .review__author__avatar {
        width: 60px;
        height: 60px;
    }

    /* 
    .raiting {
        height: 20px;
    }

    .review-form-section {
        padding-left: 0;
    }

    .footer {
        padding: 30px 15px;
    } */
}

.page {
    margin-top: 80px;
}

/* шапка */
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: inherit
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
}

.header__logo {
    margin-right: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

/* логотип */
.logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.logo__caption {
    margin: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

.logo__caption_color_orange {
    color: #FF5722;
}

.logo__image {
    vertical-align: baseline;
    width: 30px;
}

.header__like {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px 12px;
    color: #888888;
}

.header__basket {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px 12px;
    color: #888888;
}

.total__numberCircle {
    position: absolute;
    right: 8px;
    top: 3px;

    display: flex;
    flex-grow: 0;
    align-items: center;
    width: max-content;
    font-size: 14px;
    padding: 0px 5px;
    font-weight: 500;
    border-radius: 50%;
    color: #FFFFFF;
    background: #F36223;
}

/* Хлебные крошки */
.breadcrumbs__link {
    line-height: 35px;
    font-size: 16px;
    color: #008CF0;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    color: #FF5722;
    cursor: pointer;
}

.breadcrumbs__link:active {
    color: #A93A09;
}

.container__breadcrumbs {
    margin-bottom: 8px;
    margin-top: 80px;
}

/* Главный заголовок */
.main-title {
    margin: 0;
    font-size: 32px;
    line-height: 39px;
}

.container__main-title {
    margin-bottom: 30px;
}


/* галерея */
.gallery {
    display: flex;
    gap: 10px;
    font-size: 0;
}

.gallery__image {
    max-height: 387px;
    width: auto;
}

@media (max-width: 1499px) {
    .gallery__image {
        max-height: 272px;
    }
}


/* сетка */
.grid {
    display: flex;
    gap: 100px;
}

@media (max-width: 1499px) {
    .grid {
        gap: 40px;
    }
}

.grid__column {
    display: flex;
    flex-direction: column;
}

.grid__column-castle {
    max-width: 62.85%;
}

.grid__column-key {
    width: 420px;
    box-sizing: border-box;
}

.grid__column {
    margin: 0;
}


/* Блок с выбором цвета модели */
.colors__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 19px;
    padding: 30px 0 0 0;
}

.colors__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
}

.colors__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 2px solid #888888;
    border-radius: 4px;
}

.colors__button:hover {
    background-color: #F2F2F2;
    border: 2px solid #888888;
    cursor: pointer;
}

.colors__button:active {
    background-color: #FFFFFF;
    border: 2px solid #A93A09;
}


.colors__button_selected {
    background-color: #FFFFFF;
    border: 2px solid #f52;
}

.colors__button_selected:hover {
    background-color: #FFFFFF;
    border: 2px solid #f52;
}


/* блок с выбором памяти */
.memory__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 19px;
    padding: 30px 0 0 0;
}

.memory__wrapper {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0 0 0;
}

.memory__button {
    padding: 10px 20px;
    border: 2px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
}

.memory__button:hover {
    background-color: #F2F2F2;
    border: 2px solid #888888;
    cursor: pointer;
}

.memory__button:active {
    background-color: #FFFFFF;
    border: 2px solid #A93A09;
}

.memory__button_selected {
    background-color: #FFFFFF;
    border: 2px solid #f52;
}

.memory__button_selected:hover {
    background-color: #FFFFFF;
    border: 2px solid #f52;
}

/* характеристики */
.properties__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 19px;
    padding: 30px 0 0 0;
}

.properties-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-image: url(./Marker.png);
}

.properties-list__link {
    text-decoration: none;
    color: #008CF0;
}

.properties-list__link:hover {
    color: #FF5722;
    cursor: pointer;
}

.properties-list__link:active {
    color: #A93A09;
}


.properties-list__item {
    margin-bottom: 10px;
    line-height: 19px;
}


/* описание */
.description {
    margin: 0;
    font-weight: 700;
    line-height: 19px;
}

.description__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 19px;
    padding: 30px 0 0 0;
}

.description__item {
    margin: 0;
    margin: 15px 0;
}


/* таблица */
.comparison {
    margin: 0;
    max-width: 880px;
    padding: 15px 0 0 0;
}

.comparison__title {
    margin: 0;
    margin-bottom: 15px;
}

.table {
    border: 1px solid #888888;
    border-collapse: collapse;
    margin-bottom: 15px;
}

@media (max-width: 1499px) {
    .comparison {
        display: none;
    }
}

.table__th {
    padding: 10px;
    font-weight: 700;
    white-space: nowrap;
}

.table__td {
    padding: 10px;
    border-top: none;
    border-bottom: none;
    white-space: nowrap;
}

.table__tbody__tr:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}


/* отзывы шапка */
.review__section {
    margin: 0;
    max-width: 880px;
    padding: 0 60px;
}


.reviews__header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__header-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews__header__reviews {
    font-size: 24px;
    font-weight: 700;
}

.reviews__header__counter {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #888888
}

.button {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #F36223;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #f52;
    cursor: pointer;
}

.button:active {
    background-color: #A93A09;
    cursor: pointer;
}

.reviews__header__button:hover {
    cursor: pointer;
    background-color: #f52;
}


/* отзыв Марк Валерий */
.review {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 60px;
    gap: 40px;
}

.review__author {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.review__author__avatar {
    width: 140px;
    height: 140px;
}

@media (max-width: 1499px) {
    .review__author__avatar {
        width: 100px;
        height: 100px;
    }
}

.review__author__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
}

.review__author__raiting {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1499px) {
    .raiting {
        height: 20px;
    }
}

.review__author__descriptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100;
}

.review__author__description {
    margin: 0;
}


/* форма отзывов */
.review-form-section {
    margin-bottom: 100px;
    padding-left: 170px;
}

@media (max-width: 1499px) {
    .review-form-section {
        padding-left: 0;
    }
}

.review-form-section__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.form__input {
    display: flex;
    column-gap: 35px;
    justify-content: space-between;
    flex-direction: row;
}

.form__input__name {
    width: 500px;
}

.input {
    margin-bottom: 20px;
}

.error {
    display: none;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background-color: #DA4A0C
}

.name-error.visible {
    display: block;
}

.score-error.visible {
    display: block;
}

.name-error {
    font-weight: 500;
    max-height: 31px;
    padding: 8px 20px;
    box-sizing: border-box;
    
}

.score-error {
    font-weight: 500;
    max-height: 46px;
    padding: 8px 20px;
    box-sizing: border-box;
    max-width: 175px;
}

.form__item {
    padding: 15px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
}

.form__item::placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

.form__item-name {
    flex-grow: 1;
    width: 500px;
}

.form__item:hover {
    border: 1px solid #000000;
}

.form__item:focus {
    border: 1px solid #000000;
}

.form__item-score {
    width: 175px;
}

.form__item-text {
    height: 190px;
    resize: none;
}

.form__button {
    align-self: start;
}

.separator {
    border-top: 1px dashed #888888;
    margin-left: 170px;
}


/* ценовое предложение */
.conteiner__add-cart {
    position: relative;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 25px 15px 20px;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.add-cart__stroke {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}

.add-cart__discount {
    display: inline-block;
    background: #F36223;
    width: 47px;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;
}

.add-cart__price {
    margin-top: 10px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 15px;
}

.add-cart_item {
    margin-bottom: 10px 0;
}

.add-cart__cart {
    display: flex;
    column-gap: 15px;
    align-content: center;
    justify-content: center;
    padding: 20px 50px;
    background: #F36223;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: #FFFFFF;
    font-weight: 380;
    font-size: 20px;
    margin-top: 35px;
}

.button_cart::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../image/Basket.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button_disable,
.button_disable:hover,
.button_disable:focus .button_disable:active {
    background-color: #888888;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.like {
    padding: 0;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.like::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../image/Vector grey.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-color 0.3s ease-in-out;
}

.like:hover::before {
    background-image: url("../image/Vector orang.svg");
}

.like:active::before {
    background-image: url("../image/Vector red.svg");
}

.like_fullred,
.like_fullred::before,
.like_fullred:hover::before,
.like_fullred:active::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../image/VectorRed Active.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-color 0.3s ease-in-out;
}

.add-cart__button_like {
    position: absolute;
    top: 20px;
    right: 20px;
}


/* блок рекламы */
.add-cart__add {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin: 10px;
}

.add-cart__add-iframe {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px dashed #ccc;
}

.add-cart__add-iframe:hover {
    cursor: pointer;
}


/* подвал */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
    background: #F2F2F2;
    box-sizing: border-box;
    max-width: 1500px;
    height: 111px;
}

@media (max-width: 1499px) {
    .footer {
        padding: 30px 15px;
    }
}

.footer__text {
    margin: 0;
    font-size: 14px;
}

.footer__text_font_bold {
    font-weight: 700;
}

.footer__text_colored_red {
    color: #f52;
}

.footer__link {
    text-decoration: none;
    color: #008CF0;
    transition: color 0.3s ease-in-out;
}

.footer__link:hover {
    color: #FF5722;
    cursor: pointer;
}

.footer__link:active {
    color: #A93A09;
}