.addCart__cart {
    display: flex;
    column-gap: 15px;
    align-content: center;
    justify-content: center;
    padding: 20px 50px;
    background: #F36223;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: #FFFFFF;
    font-weight: 380;
    font-size: 20px;
    margin-top: 35px;
}

.button_cart::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./Basket.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button_disable,
.button_disable:hover,
.button_disable:focus .button_disable:active {
    background-color: #888888;
}

