@media (max-width: 1499px) {
    .raiting {
        height: 20px;
    }
}

.review__author__raiting {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 17px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.raiting {
    height: 20px;
}