.memory {
    list-style-type: none;
}

.memory__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 30px 0 0 0;

}

.memory__wrapper {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0 0 0;
    list-style-type: none;
}

.memory__button {
    padding: 10px 20px;
    border: 2px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
}

.memory__button:hover {
    background-color: #F2F2F2;
    border: 2px solid #888888;
    cursor: pointer;
}

.memory__button:active {
    background-color: #FFFFFF;
    border: 2px solid #A93A09;
}

.memory__button_selected {
    background-color: #FFFFFF;
    border: 2px solid #f52;
}

.memory__button_selected:hover {
    background-color: #FFFFFF;
    border: 2px solid #f52;
}