.header__basket {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 8px 12px;
    color: #888888;
}

.total__numberCircle {
    position: absolute;
    right: 8px;
    top: 3px;

    display: flex;
    flex-grow: 0;
    align-items: center;
    width: max-content;
    font-size: 14px;
    padding: 0px 5px;
    font-weight: 500;
    border-radius: 50%;
    color: #FFFFFF;
    background: #F36223;
}