.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
    background: #F2F2F2;
    box-sizing: border-box;
    max-width: 1500px;
    height: 111px;
}

@media (max-width: 1499px) {
    .footer {
        padding: 30px 15px;
    }
}

.footer__text {
    margin: 0;
    font-size: 14px;
}

.footer__text_font_bold {
    font-weight: 700;
}

.footer__text_colored_red {
    color: #f52;
}

.footer__link {
    text-decoration: none;
    color: #008CF0;
    transition: color 0.3s ease-in-out;
}

.footer__link:hover {
    color: #FF5722;
    cursor: pointer;
}

.footer__link:active {
    color: #A93A09;
}