.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.like {
    padding: 0;
    width: 30px;
    height: 30px;
    background: none;
    border: none;

    position: absolute;
    top: 20px;
    right: 20px;
}

.like::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./Vectorgrey.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-color 0.3s ease-in-out;
}

.like:hover::before {
    background-image: url("./Vectororang.svg");
}

.like:active::before {
    background-image: url("./Vectorred.svg");
}

.like_fullred,
.like_fullred::before,
.like_fullred:hover::before,
.like_fullred:active::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./VectorRedActive.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-color 0.3s ease-in-out;
}