
.conteiner__addCart {
    position: relative;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 25px 15px 20px;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 30px;
} 

.addCart__stroke {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}

.addCart__discount {
    display: inline-block;
    background: #F36223;
    width: 47px;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 10px;
}

.addCart__price {
    margin-top: 10px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 15px;
}

.addCart_item {
    margin-bottom: 10px 0;
}

.addCart__add {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    margin: 10px;
}

.addCart__addIframe {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px dashed #ccc;
}

.addCart__addIframe:hover {
    cursor: pointer;
}

