.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 117px);
}

.home-text {
    display: block;
    text-align: center;
}

.text {
    height: 57px;
    text-align: center;
    width: 453px;
    line-height: 19px;
}

/* Link */
.breadcrumbs__link {
    line-height: 35px;
    font-size: 16px;
    color: #008CF0;
    text-decoration: none;
}

.breadcrumbs__link:focus,
.breadcrumbs__link:hover {
    color: #FF5722;
    cursor: pointer;
}

.breadcrumbs__link:active {
    color: #A93A09;
}

.container__breadcrumbs {
    margin-bottom: 8px;
    margin-top: 80px;
}