/* логотип */
.logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
    text-decoration: none;
}

.logo__caption {
    margin: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    color:black;
        
}


.logo__caption_color_orange {
    color: #FF5722;
}

.logo__image {
    vertical-align: baseline;
    width: 30px;
}