html,
body,
.center {
    height: 100%;
}

body {
    margin: 0;
    background: #F0F0F0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(230, 225, 225);   
}