@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    margin: 3px;
    font-size: 16px;
    color: #000000;
    background-color: #F8FAFE;
}


/* контейнер */
.container {
    max-width: 1500px;
    min-width: 360px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;

}

@media (max-width: 1499px) {
    .container {
        padding: 0 15px;
    }
}

@media (max-width: 360px) {
    #reclama {
        display: none;
    }

    #img3 {
        display: none;
    }

    #img4 {
        display: none;
    }

    #img5 {
        display: none;
    }

    .grig {
        gap: 0px;

    }

    .comparison {
        display: none;
    }

    .review__author__avatar {
        width: 60px;
        height: 60px;
    }

}

.page {
    margin-top: 80px;
}


/* Главный заголовок */
.mainTitle {
    margin: 0;
    font-size: 32px;
    line-height: 39px;
}

.container__mainTitle {
    margin-bottom: 30px;
}


/* галерея */
.gallery {
    display: flex;
    gap: 10px;
    font-size: 0;
}

.gallery__image {
    max-height: 387px;
    width: auto;
}

@media (max-width: 1499px) {
    .gallery__image {
        max-height: 272px;
    }
}


/* сетка */
.grid {
    display: flex;
    gap: 100px;
}

@media (max-width: 1499px) {
    .grid {
        gap: 40px;
    }
}

.grid__column {
    display: flex;
    flex-direction: column;
}

.grid__columnCastle {
    max-width: 62.85%;
}

.grid__columnKey {
    width: 420px;
    box-sizing: border-box;
}

.grid__column {
    margin: 0;
}

/* характеристики */
.properties__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 30px 0 0 0;
}

.propertiesList {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-image: url('../../components/images/Marker.png');
}

.propertiesList__link {
    text-decoration: none;
    color: #008CF0;
}

.propertiesList__link:hover {
    color: #FF5722;
    cursor: pointer;
}

.propertiesList__link:active {
    color: #A93A09;
}


.propertiesList__item {
    margin-bottom: 10px;
    line-height: 19px;
}


/* описание */
.description {
    margin: 0;
    font-weight: 700;
    line-height: 19px;
}

.description__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 30px 0 0 0;
}

.description__item {
    margin: 0;
    margin: 15px 0;
}


/* таблица */
.comparison {
    margin: 0;
    max-width: 880px;
    padding: 15px 0 0 0;
}

.comparison__title {
    margin: 0;
    margin-bottom: 15px;
}

.table {
    border: 1px solid #888888;
    border-collapse: collapse;
    margin-bottom: 15px;
}

@media (max-width: 1499px) {
    .comparison {
        display: none;
    }
}

.table__th {
    padding: 10px;
    font-weight: 700;
    white-space: nowrap;
}

.table__td {
    padding: 10px;
    border-top: none;
    border-bottom: none;
    white-space: nowrap;
}

.table__tbody__tr:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}
