.reviewFormSection {
    margin-bottom: 100px;
    padding-left: 170px;
}

@media (max-width: 1499px) {
    .reviewFormSection {
        padding-left: 0;
    }
}

.reviewFormSection__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.form__input {
    display: flex;
    column-gap: 35px;
    justify-content: space-between;
    flex-direction: row;
}

.form__input__name {
    width: 500px;
}

.input {
    margin-bottom: 20px;
}

.error {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 15px;
    color: white;
    background-color: #DA4A0C
}

.nameError:empty {
    display: none;
}

.nameError {
    font-weight: 500;
    max-height: 31px;
    padding: 8px 20px;
    box-sizing: border-box;
}

.scoreError:empty {
    display: none;
}

.scoreError {
    font-weight: 500;
    max-height: 46px;
    padding: 8px 20px;
    box-sizing: border-box;
    max-width: 175px;
}

.form__item {
    padding: 15px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    width: 500px;
}

.form__item::placeholder {
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

.form__itemNname {
    flex-grow: 1;
    width: 500px;
}

.form__item:hover {
    border: 1px solid #000000;
}

.form__item:focus {
    border: 1px solid #000000;
}

.form__itemScore {
    width: 175px;
}

.form__itemText {
    height: 190px;
    resize: none;
}

.form__button {
    align-self: start;
}