.colors__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 2px solid #888888;
    border-radius: 4px;
}

.colors__button:hover {
    background-color: #F2F2F2;
    border: 2px solid #888888;
    cursor: pointer;
}

.colors__button:active {
    background-color: #FFFFFF;
    border: 2px solid #A93A09;
}

.colors__button_selected,
.colors__button_selected:hover {
    background-color: #FFFFFF;
    border: 2px solid #f52;
}