.colors__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 19px;
    font-size: 16px;
    padding: 30px 0 0 0;

}

.colors__list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;

    padding: 10px 0 0 0;
    margin: 0;
    list-style-type: none;
}