/* отзывы шапка */
.review__section {
    margin: 0;
    max-width: 880px;
    padding: 0;
}

.reviews__header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__headerWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews__header__reviews {
    font-size: 24px;
    font-weight: 700;
}

.reviews__header__counter {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #888888
}

.button {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: #F36223;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #f52;
    cursor: pointer;
}

.button:active {
    background-color: #A93A09;
    cursor: pointer;
}

.reviews__header__button:hover {
    cursor: pointer;
    background-color: #f52;
}

/* отзыв Марк Валерий */
.review {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 40px;
    padding: 0;
    list-style-type: none;
}

.review__author {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
    border-bottom: 1px dashed #888888;
}

.review_content {
    flex-direction: column;
    padding-bottom: 40px;
}

.review__author:last-child {
    border: none;
}

.review:not(:last-child) .review__author {
    border-bottom: 1px dashed #000;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 0;
    margin: 0;
}



.review__author__avatar {
    width: 140px;
    height: 140px;
}

@media (max-width: 1499px) {
    .review__author__avatar {
        width: 100px;
        height: 100px;
    }
}

.review__author__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
}

.review__author__descriptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100;
    font-size: 14px;
}

.review__author__description {
    margin: 0;
}