.breadcrumbs__link {
    line-height: 35px;
    font-size: 16px;
    color: #008CF0;
    text-decoration: none;
}

.breadcrumbs__link:focus,
.breadcrumbs__link:hover {
    color: #FF5722;
    cursor: pointer;
}

.breadcrumbs__link:active {
    color: #A93A09;
}

.container__breadcrumbs {
    margin-bottom: 8px;
    margin-top: 80px;
}